localhost {
    root * /srv
    
    rewrite /user/* /user/index.php?{query}
    php_fastcgi /user/* user_dashboard:9000 {
        root /app
        try_files {path}/index.php
    }
    rewrite /auth/* /auth/index.php?{query}
    php_fastcgi /auth/* auth:9000 {
        root /app
        try_files {path}/index.php        
    }
}

